<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/about.ejs %>
    <title>Redsoin-About</title>

  </head>
    <body>
      <div class="menu">

      <!-- Menu -->
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="registro">Registro</a></li>
        <li><a href="contact">Contacto</a></li>
      </ul>
    </div>

    <!-- Main body -->
    <div class="icon-menu">
      <i class="fa fa-bars">
      Menú
      </i>
    </div>
    <p id="Ti">Acerca de Kapp</p>
    <p id="par">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <p id= "sTi">Sueña. Conecta. Crea.</p>
    <p id="par">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <p id="sTi">Las ideas son nuestra fuerza</p>
    <p id="par">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </body>
</html>