<!DOCTYPE html>
<html lang="es">
  <head>
    <% include ../partials/header.ejs %>
    <title>Redsoin</title>
  </head>
  <body>
    <div class="menu">

      <!-- Menu -->
      <ul>
        <li><a href="registro">Registro</a></li>
        <li><a href="about">Acerca</a></li>
        <li><a href="contact">Contacto</a></li>
      </ul>
    </div>

    <!-- Main body -->
    <div class="jumbotron">
      <div class="icon-menu">
        <i class="fa fa-bars">Menú</i>
      </div>
    </div>
    <p id="Ti">KAPP</p>
    <p id="par">La cultura mexicana trasciende cualquier barrera social. Siempre nuestro país ha tenido una riqueza enorme, y en cuestiones de arte, México es potencia mundial. Sin embargo, así como identificamos una fortaleza cultural inegable en nuestro país, también es imposible no reconocer los problemas de nuestra tierra. Uno de los más grandes conflictos del México actual son los monopolios resultado de una distribución del poder desigual y canteada por los poderes fácticos de este país. De pronto nos encontramos con que el arte en México ya no se hace por amor sino por dinero y todo se ha convertido en una industria, como si fuesemos fábricas, como si se pudiese pensar al arte de forma tan erronea.</p>
    <p id= "sTi">Sueña. Conecta. Crea.</p>
    <p id="par">Es momento de redistribuir el poder. Debemos rescatar el arte de los grandes monopolios, de las industrias consumistas y de las celebridades medianas que solo saturan el imaginario social y pelean a billetazos quien ocupará la siguiente posición de popularidad.</p>
    <p id="sTi">Las ideas son nuestra fuerza</p>
    <p id="par">Existe solo un concepto capaz de derrotar la voracidad del dinero. Son las ideas resultado del pensamiento lo único con lo que realmente podemos contar. No pelearemos a billetazos con los monopolios, tampoco se trata de anarquismo. Se trata de pensar, se trata de encontrar las fallas del sistema.</p>
  </body>
</html>

